<%- if user_signed_in? %>
  <p>Bem-Vindo <%= current_user.name %><br />
  <%= link_to 'Sair', destroy_user_session_path, :method => :delete %><br />
  <%= link_to 'Editar perfil', edit_user_registration_path(@user)%></p> 
<%- else %>
  <p>
    <%= link_to 'Registar', new_user_registration_path %> |
    <%= link_to 'Entrar', new_user_session_path %>
  </p>
<%- end %>